<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->

  <main>
    <route default>
      <application name="@fireehr/authn"></application>
    </route>
    <route path="authn">
      <application name="@fireehr/authn"></application>
    </route>
    <route path="dashboard">
      <application name="@fireehr/dashboard"></application>
    </route>
  </main>
</single-spa-router>
